objs
objs/*
bin
bin/*
unused
unused/*
.vscode/
.vscode/*
log-changes.txt
docs/manual/*.aux
docs/code-dox/html/
docs/code-dox/latex/
example-configs/data
example-configs/skipjack/output
example-configs/skipjack/newparfile.xml
example-configs/skipjack/*.tmp
example-configs/skipjack/fmin.log

