objs
objs/*
unused
unused/*
log-changes.txt
seapodym
seapodym_cltags
seapodym_fluxes
seapodym_densities
seapodym_habitats
DOM/unused
DOM/unused/*
docs/manual/*.aux
docs/code-dox/html/
docs/code-dox/latex/
example-configs/data
example-configs/skipjack/output
example-configs/skipjack/newparfile.xml
example-configs/skipjack/*.tmp
example-configs/skipjack/fmin.log

